<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">University College</h1>
            <p class="lead">
                Situated in the very centre of Oxford, University College (Univ)
                combines a long history with a thoroughly modern outlook. We have an inclusive and      welcoming atmosphere
                that supports students to pursue their ambitions to the highest level.
                We are proud of our reputation for providing outstanding academic and pastoral support,
                and of our pioneering role in making Oxford accessible to students from all         backgrounds.
            </p>
        </div>
        <div class="container">
            <img src="~/images/University.jpg" />
        </div>
    </div>
</div>