
@using UniversityAutentication.ViewModels
@model InstructorAddCourseViewModel

<div class="container">
    <div class="row">
        <div class="col-md-7 offset-3">
            <h2>Add a new Course</h2>
            <form asp-controller="Instructor" asp-action="AddCourse">
                <div class="form-group">
                    <label asp-for="Course.CourseTitle"></label>
                    <input asp-for="Course.CourseTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Course.SeatCapacity"></label>
                    <input asp-for="Course.SeatCapacity" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Instructor.InstructorName"></label>
                    <select asp-for="Instructor.InstructorId"
                            asp-items="@Model.InstructorSelecList" class="form-control">
                        <option></option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit">Save Course and Back to instructor home</button>
                </div>
            </form>
        </div>
    </div>
</div>

